<launch>

    <node name="vision_classify" pkg="autobot" type="vision_classify" args=" --model /media/ubuntu/SSD/masters-bot-zed/src/autobot/src/model/Angle_Classification9/snapshot_iter_138800.caffemodel --prototxt /media/ubuntu/SSD/masters-bot-zed/src/autobot/src/model/Angle_Classification9/deploy.prototxt --labels /media/ubuntu/SSD/masters-bot-zed/src/autobot/src/model/Angle_Classification9/labels.txt --output_blob softmax" output="screen" />

</launch>
